body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  text-align: center;
  background-image: url(bg-monopoly.jpg);
}

.container {
  display: inline-flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: 120px repeat(9, 80px) 120px;
  grid-template-rows: 120px repeat(9, 80px) 120px;
  background-color: #8fff7e;
  border: black 12px solid;
}

.block {
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  justify-content: center;
  align-items: center;
}

.location,
.price {
  flex: 1;
}

.location {
  font-weight: bold;
}
.price {
  text-align: end;
}
.property {
  flex: 1;
  background-color: red;
  height: 100%;
  width: 100%;
}

.large {
  justify-content: center;
  font-size: 16px;
}

.jail {
  flex-direction: column;
}

.center {
  display: flex;
  grid-area: 2 / 2 / 11 / 11;
  justify-content: center;
  align-items: center;
}

.dice {
  width: 50px;
  height: 50px;
  border: black solid 1px;
  margin: 8px;
}

.piece {
  width: 20px;
  height: 20px;
  border: black solid 1px;
  background-color: blue;
}

/* Creating an Animatable dice cube */
.cube {
  font-size: 20px;
  width: 50px;
  height: 50px;
  margin: 8px auto;
  transform-style: preserve-3d;
  perspective: 500px;
}

.side {
  position: absolute;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border: rgba(0, 0, 0, 0.3) solid 1px;
  background: white;
  /* font-weight: 700; */
  text-align: center;
}

.front {
  transform: rotateX(0deg) translateZ(80px);
}
.top {
  transform: rotateX(90deg) translateZ(80px);
}
.right {
  transform: rotateY(90deg) translateZ(80px);
}
.left {
  transform: rotateY(-90deg) translateZ(80px);
}
.bottom {
  transform: rotateX(-90deg) translateZ(80px);
}
.back {
  transform: rotateY(-180deg) translateZ(80px);
}
